<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <header>
      <h1 class="main-title">
        <a href="/">
          <img src="/images/icon.png" class="icon" alt="Speedster icon">
        </a>
        <img src="/images/logo.svg" class="logo" alt="Speedster logo">
      </h1>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <span class="copyright">&copy;</span> {{ site.time | date: '%Y' }} Reda Lemeden. All Rights Reserved.
      <br>
      <a href="/faq">FAQ</a> –
      <a href="/support">Support</a> –
      <a href="/privacy">Privacy</a> –
      <a href="https://twitter.com/{{ site.data.presskit.twitter }}">Twitter</a>
    </footer>
  </body>
</html>
